<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="LNBagShopDBEntities" connectionString="metadata=res://*/LNBagShopDB.csdl|res://*/LNBagShopDB.ssdl|res://*/LNBagShopDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LNBagShopDB;persist security info=True;user id=sa;password=14021998;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>